/* Contact section styles */

.contact {
    background-color: #fff;
    padding: 80px 20px;
  }
  
  .contact__inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact__form {
    flex-basis: 60%;
    margin-right: 40px;
  }
  
  .contact__form input,
  .contact__form textarea {
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .contact__form textarea {
    height: 150px;
  }
  
  .contact__form button {
    font-size: 16px;
    padding: 10px 30px;
    background-color: #333;
    color:#ffffff;
  }